# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
sgd_venv/

# Jupyter
.ipynb_checkpoints/
Construction-Site-Safety-27/

# Data and Models
*.mp4
*.avi
*.pt
*.jpg
data/
models/
#runs/
violations/

# IDE
.vscode/
.idea/